@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-dots {
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 10" width="10" height="10"><style>circle{fill:rgb(218, 237, 226);}</style><circle cx="5" cy="5" r="1" /></svg>');
  background-size: 10px; /* Adjust this size based on your dot size */
}
